<!-- LOGIN MODULE -->
        <div class="login">
            <div class="wrap">
                <!-- TOGGLE -->
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <!-- TERMS -->
                <div class="terms">
                   <%= render "terminos"%>
                </div>

                <!-- SLIDER -->
                <div class="content">
                    <!-- SLIDESHOW -->
                    <div id="slideshow">
                        <div class="one">
                            <!--<h2><span>EVENTS</span></h2>
                            <p>Sign up to attend any of hundreds of events nationwide</p>
                            --> 
                        </div>
                        <div class="two">
                            <!--<h2><span>LEARNING</span></h2>
                            <p>Thousands of instant online classes/tutorials included</p>
                            -->
                        </div>
                        <div class="three">
                            <!--<h2><span>GROUPS</span></h2>
                            <p>Create your own groups and connect with others that share your interests</p>
                            -->
                        </div>
                        <div class="four">
                            <!--<h2><span>SHARING</span></h2>
                            <p>Share your works and knowledge with the community on the public showcase section</p>
                            -->
                        </div>
                    </div>

                </div>
                <!-- LOGIN FORM -->
                <div class="user">
                    <!-- ACTIONS
                    <div class="actions">
                        <a class="help" href="#signup-tab-content">Sign Up</a><a class="faq" href="#login-tab-content">Login</a>
                    </div>
                    -->
                    <div class="form-wrap">
                        <!-- TABS -->
                     
                            <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Registro<span></a></h3>
                        
                        <!-- TABS CONTENT -->
                      <div class="tabs-content">
                            <!-- TABS CONTENT LOGIN -->
                        <div id="login-tab-content" class="active">

                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <%= devise_error_messages! %>


                                <p id="login_names">Email</p>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "user_login", class: "input" , :required => true%>

                                 <p id="login_names">Contraseña</p>
                                  <% if @minimum_password_length %>
                                   
                                  <% end %>
                                    <%= f.password_field :password, autocomplete: "new-password", id: "user_login", class: "input" %>

                                   <!-- <%= f.hidden_field :name, :value =>  "Usuario" %>-->
                                
                                <p id="login_names">Confirmar Contraseña</p>
                                 <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user_pass", class: "input" %>
                            <div class="actions">
                                 <%= f.submit "Registrarme", class: "button" %><br>
                            </div>
                          <% end %>

                          <div class="help-action">
                            <p align="center"><%= render "devise/shared/links" %>
                            <i class="fa fa-arrow-left" aria-hidden="true"></i><a class="agree" href="#">Terminos Y Condicines</a><br><br>

                            <a href="/" class="btn1">Pagina Proncipal</a>

                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>