<!-- Page Container -->
<div class="container">
<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3" style="display: none">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container" style="border-top: 2px solid #dfe5e8;">
         <h4 class="w3-center">Vendedor</h4>
         <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i><p> <%= @property.runner.name %></p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>

    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-container w3-card w3-white w3-round w3-margin" style="margin-top: 0px !important;     border-top: 2px solid #dfe5e8;"><br>
        <div class="col-md-6" style="padding: 0px;">
          <h2><%= @property.property_type %> en Venta </h2> 
          <p><%= @property.city %></p>
        </div>
        <h3 style="float: right;"> $ <%= @property.prince %> </h3><br><br><br>
        <table class="table-bordered">
          <thead">
            <tr>
              <th><i class="fas fa-chart-area" style="color: #0e67c3;"></i> <%= @property.area %> m²</th>
              <th><i class="fas fa-bed" style="color: #0e67c3;"></i> Habitaciones: <%= @property.number_bedrooms %></th>
              <th><i class="fas fa-bath" style="color: #0e67c3;"></i> Baños: <%= @property.number_bathrooms %> </th>
              <th style="padding: 1px; padding-left: 5px;"><i class="fas fa-car-side" style="color: #0e67c3;"></i> Parqueaderos: <%= @property.parking_lot %></th>
            </tr>
          </thead>
        </table>

        <div class="col-md-12" style="padding: 0px;">
          <div class="container" style="padding: 0px;">
            <div class="col-md-6" style="padding: 0px;">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Imagenes</a></li>
                            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Videos</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                                <div class="carousel"
                                  data-flickity='{ "autoPlay": true}'>
                                    <% @property.property_images.each do |image|%>

                                      <%= image.file? ? image_tag(image.file_url(:large)) : image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiS5HhpjhUIciPRhbw4Qe_9ms0umoNaHNRltq8qZD13yyRDY6wyQ", style: "height: 104px;")%>
                                    <% end -%>

                              
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Section2">
                                  <iframe width="580" height="400" src="https://my.matterport.com/show/?model=g8ioLttQigi" allowfullscreen allow="vr"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <br><br>
      </div>
          <div class="w3-row-padding" style="margin:0 -16px">
        </div>
      </div>
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity">Descripcion</span>
        <hr class="w3-clear">

        <div class="col-md-4" style="padding: 0px;">
          <ul class="list-group text-center">
            <li class="list-group-item">Área Const:<br>
              <b><%= @property.area %> m²</b>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-group text-center">
            <li class="list-group-item">Estrato:<br>
              <b><%= @property.stratum %></b>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-group text-center">
            <li class="list-group-item">Ciudad:<br>
               <b><%= @property.city %></b>
            </li>
          </ul>
        </div>

      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity">Ubicacion del Inmueble</span>
        <hr class="w3-clear">
        <div class="col-md-12" style="padding: 0px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63460.01223186089!2d-75.58571159203002!3d6.230635615154693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa042651907d7e2a7!2sCaf%C3%A9+Literario+el+Taller!5e0!3m2!1ses-419!2sco!4v1539807186561" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div> 

      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container" style="border-top: 2px solid #dfe5e8;">
          <h2>asdasddsa</h2>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h2>asdasdas</h2>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <h2>asdasdas</h2>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <h1>asdasdsa</h1>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
        </div>
      </div">
    </div>
  </div>



<style>

  th{
    padding: 10px;
    width: 167px
  }

  a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border: none;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 10px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{ border: none; }
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 4px;
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    height: 4px;
    background: #727cb6;
    border: 1px solid #727cb6;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1s ease 0s;
}
.tab .nav-tabs li:hover a:after,
.tab .nav-tabs li.active a:after{
    width: 100%;
    opacity: 1;
}
.tab .tab-content{
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .tab-content{ margin-top: 0; }
}

</style>
    