<!-- Page Container -->
<div class="container">
<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px; margin-left: 100px;">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3" style="display: none">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container" style="border-top: 2px solid #dfe5e8;">
         <h4 class="w3-center">Vendedor</h4>
         <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i><p> <%= @property.runner.name %></p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>

    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-container w3-card w3-white w3-round w3-margin" style="margin-top: 0px !important;     border-top: 2px solid #dfe5e8;"><br>
        <div class="col-md-8" style="padding: 0px;">
          <h2><%= @property.property_type %> en Venta </h2> 
          <p><%= @property.city %></p>
        </div>
        <h3 style="float: right;"> $ <%= @property.prince %> </h3><br><br><br>
        <table class="table-bordered">
          <thead">
            <tr>
              <th><i class="fas fa-chart-area" style="color: #0e67c3;"></i> <%= @property.area %> m²</th>
              <th><i class="fas fa-bed" style="color: #0e67c3;"></i> Habitaciones: <%= @property.number_bedrooms %></th>
              <th><i class="fas fa-bath" style="color: #0e67c3;"></i> Baños: <%= @property.number_bathrooms %> </th>
              <th style="padding: 1px; padding-left: 5px;"><i class="fas fa-car-side" style="color: #0e67c3;"></i> Parqueaderos: <%= @property.parking_lot %></th>
            </tr>
          </thead>
        </table>

        <div class="col-md-12" style="padding: 0px;">
          <div class="" >
            <div class="col-md-6" style="padding: 0px;">
                <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Imagenes</a></li>
                            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Videos</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content tabs" style="width: 90%;">
                            <div role="tabpanel" class="tab-pane fade in active" id="Section1">

                                <div class="galleryContainer" style="margin-bottom: 16px; width: 224%;">
                                  <div class="slideShowContainer">
                                      <div id="playPause" onclick="playPauseSlides()"></div>
                                      <div onclick="plusSlides(-1)" class="nextPrevBtn leftArrow"><span class="arrow arrowLeft"></span></div>
                                      <div onclick="plusSlides(1)" class="nextPrevBtn rightArrow"><span class="arrow arrowRight"></span></div>
                                      <div class="captionTextHolder"><p class="captionText slideTextFromTop"></p></div>

                                      <div class="imageHolder">

                                      <%= @property.images? ? image_tag(@property.images_url) : image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiS5HhpjhUIciPRhbw4Qe_9ms0umoNaHNRltq8qZD13yyRDY6wyQ")%>

                                        <p class="captionText"></p>
                                      </div>

                                    <% @property.property_images.each do |image|%>
                                      <div class="imageHolder">

                                      <%= image.file? ? image_tag(image.file_url) : image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiS5HhpjhUIciPRhbw4Qe_9ms0umoNaHNRltq8qZD13yyRDY6wyQ", style: "height: 104px;")%>

                                        <p class="captionText"></p>
                                      </div>


                                    <% end -%>


                                
                                  </div>
                                  <div id="dotsContainer"></div>
                              </div>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Section2">
                                  <iframe  width="530" height="450" src="https://my.matterport.com/show/?model=g8ioLttQigi" allowfullscreen allow="vr"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <br><br>
      </div>
          <div class="w3-row-padding" style="margin:0 -16px">
        </div>
      </div>
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity">Descripcion</span>
        <hr class="w3-clear">

        <div class="col-md-4" style="padding: 0px;">
          <ul class="list-group text-center">
            <li class="list-group-item">Área Const:<br>
              <b><%= @property.area %> m²</b>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-group text-center">
            <li class="list-group-item">Estrato:<br>
              <b><%= @property.stratum %></b>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-group text-center">
            <li class="list-group-item">Ciudad:<br>
               <b><%= @property.city %></b>
            </li>
          </ul>
        </div>

      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity">Ubicacion del Inmueble</span>
        <hr class="w3-clear">
        <div class="col-md-12" style="padding: 0px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63460.01223186089!2d-75.58571159203002!3d6.230635615154693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa042651907d7e2a7!2sCaf%C3%A9+Literario+el+Taller!5e0!3m2!1ses-419!2sco!4v1539807186561" width="530" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div> 

      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center" id="form-send">
        <div class="w3-container" style="padding: 0px; ">
          <h2>Mensage</h2><br>

         <%= form_tag new_contact_path , remote: true,method: :post do %>

            <%= label_tag :Nombre %>
            <%= text_field_tag :name,nil, class: "form form-control", :placeholder => "Nombre"%>
            <br>

            <%= label_tag :Email %>
            <%= email_field_tag :email,nil, class: "form form-control", :placeholder => "Nombre"%>
            <br>

            <%= label_tag :Mensage %>
            <%= text_area_tag :message,nil, class: "form form-control", :placeholder => "Mensage" ,:rows => 3,  :cols =>25 %>
            <br>
            <p>Solicitud de Video llamada</p>
            <div class="col-md-12"  style="margin-left: 12px;">
              <div class="row funkyradio">
                    <div class="col-md-6" style="padding-left: 0px;">
                      <div class="form-group funkyradio-success">
                        <%= radio_button_tag :state_call, true,nil, class: "rv" %>
                        <label for="state_call_true">Si</label>
                      </div>
                    </div>

                    <div class="col-md-6" style="padding-right: 0px;">
                      <div class="form-group funkyradio-success">
                        <%= radio_button_tag :state_call,false,nil, class: "rp" %>
                        <label for="state_call_false">No</label>
                      </div>
                    </div>
               </div>
            </div>
            <%= hidden_field_tag :property_id, @property.id%>
            <div class="col-md-12" id="input-date" style="display: none; padding: 0px;">
                <div class="field">
                  <%= label_tag :Fecha_de_reunion %>
                  <%= datetime_field_tag :datetime_call, nil , class: "form form-control"%>
                </div>
                <br>
            </div>

            <%= submit_tag "Enviar", class: "btn btn-primary btn-block"  %>

            <div class="col-md-5">
                <div class="alert alert-info" style="display: none;">
                    <p>El Mensaje se envio con <b>exito!</b></p>
                </div>  
            </div>

          <% end -%>
        </div>
      </div>
    </div>

    <script>
  $('.rp').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.rv').prop('checked', false);
            $('.rp').prop('checked', true);

            $("#input-date").fadeOut(300) 
            
     
            
       }
       
    });
    $('.rv').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.rp').prop('checked', false);
            $('.rv').prop('checked', true);

            $("#input-date").fadeIn(300) 
      

            
     
            
       }
       
    });

</script>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("form-send");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
    
  <script type="text/javascript">
    
var slideIndex,slides,dots,captionText;
function initGallery(){
    slideIndex = 0;
    slides=document.getElementsByClassName("imageHolder");
    slides[slideIndex].style.opacity=1;

    captionText=document.querySelector(".captionTextHolder .captionText");
    captionText.innerText=slides[slideIndex].querySelector(".captionText").innerText;

    //disable nextPrevBtn if slide count is one
    if(slides.length<2){
        var nextPrevBtns=document.querySelector(".leftArrow,.rightArrow");
        nextPrevBtns.style.display="none";
        for (i = 0; i < nextPrevBtn.length; i++) {
            nextPrevBtn[i].style.display="none";
        }
    }

    //add dots
    dots=[];
    var dotsContainer=document.getElementById("dotsContainer"),i;
    for (i = 0; i < slides.length; i++) {
        var dot=document.createElement("span");
        dot.classList.add("dots");
        dotsContainer.append(dot);
        dot.setAttribute("onclick","moveSlide("+i+")");
        dots.push(dot);
    }
    dots[slideIndex].classList.add("active");
}
initGallery();
function plusSlides(n) {
    moveSlide(slideIndex+n);
}
function moveSlide(n){
    var i;
    var current,next;
    var moveSlideAnimClass={
          forCurrent:"",
          forNext:""
    };
    var slideTextAnimClass;
    if(n>slideIndex) {
        if(n >= slides.length){n=0;}
        moveSlideAnimClass.forCurrent="moveLeftCurrentSlide";
        moveSlideAnimClass.forNext="moveLeftNextSlide";
        slideTextAnimClass="slideTextFromTop";
    }else if(n<slideIndex){
        if(n<0){n=slides.length-1;}
        moveSlideAnimClass.forCurrent="moveRightCurrentSlide";
        moveSlideAnimClass.forNext="moveRightPrevSlide";
        slideTextAnimClass="slideTextFromBottom";
    }

    if(n!=slideIndex){
        next = slides[n];
        current=slides[slideIndex];
        for (i = 0; i < slides.length; i++) {
            slides[i].className = "imageHolder";
            slides[i].style.opacity=0;
            dots[i].classList.remove("active");
        }
        current.classList.add(moveSlideAnimClass.forCurrent);
        next.classList.add(moveSlideAnimClass.forNext);
        dots[n].classList.add("active");
        slideIndex=n;
        captionText.style.display="none";
        captionText.className="captionText "+slideTextAnimClass;
        captionText.innerText=slides[n].querySelector(".captionText").innerText;
        captionText.style.display="block";
    }

}
var timer=null;
function setTimer(){
    timer=setInterval(function () {
        plusSlides(1) ;
    },3000);
}
setTimer();
function playPauseSlides() {
    var playPauseBtn=document.getElementById("playPause");
    if(timer==null){
        setTimer();
        playPauseBtn.style.backgroundPositionY="0px"
    }else{
        clearInterval(timer);
        timer=null;
        playPauseBtn.style.backgroundPositionY="-33px"
    }
}
  </script>
                                    


<style>

  th{
    padding: 10px;
    width: 167px
  }

  a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border: none;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 10px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{ border: none; }
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 4px;
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    height: 4px;
    background: #727cb6;
    border: 1px solid #727cb6;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1s ease 0s;
}
.tab .nav-tabs li:hover a:after,
.tab .nav-tabs li.active a:after{
    width: 100%;
    opacity: 1;
}
.tab .tab-content{
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .tab-content{ margin-top: 0; }
}

th{
  font-size: 13px;
}


.galleryContainer{
    width: 100%;
    height: 500px;
    max-width: 1000px;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/54/playPause.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}




.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}

  .funkyradio div {
    overflow: hidden;
  }
</style>
    