
   <% @brunks.each do |brunk| %>
   <% @property = Property.find(brunk.property_one_id)%>
   <% @property1 = Property.find(brunk.property_two_id)%>

<div class="row" style="background: #fff; border-radius: 4px;">
   <p style="text-align: right;"> <%=link_to "Gestion Cambio" ,show_path(brunk.id), class: "btn btn-primary" %></p>
 
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="col-md-6">
      <div class="row mb-3">
         <div class="col-md-12">
         
            <h3 align="center">Propiedad que te Ofrecen</h3><br>
         
                 <%=render 'property' , property: @property  %>
               
   
              </div>
          
      </div>
    </div>
     <div class="col-md-6">
      <div class="row mb-3">
         <div class="col-md-12">
         
            <h3 align="center">Propiedad que Quieren</h3><br>
         
             <%=render 'property' , property: @property1  %>
               
   
              </div>
          
      </div>
    </div>
  <div class="col-md-6 col-md-offset-3">
         <%if (@property.prince - @property1.prince) > 0 %>
                    
                              <div class="alert alert-danger">
                                   <small><b>Debes dar</b></small>
                                    <small><%= number_to_currency((@property.prince - @property1.prince ), precision: 0) %></small> <%=link_to "Ver Detalles" ,show_path(brunk.id), class: "btn btn-danger" , style: "margin-left:30px;" %>

                              </div>    
                               
                                  
                                  
                                  <%else%>
                        <div class="alert alert-success">
                                      <small><b>Te deben dar</b></small>
                                    <small><%= number_to_currency(( @property1.prince - @property.prince), precision: 0) %></small> <%=link_to "Ver Detalles" ,show_path(brunk.id), class: "btn btn-success" , style: "margin-left:30px;"%>
                           </div> 
                           <br>
        <%end%>


    
 </div>  
</div>

</div>




<%end%>


<style>
.alert-success, .alert-danger
{
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
  img{
    width: 100px !important;
    height: 60px; 

  }
  .info small
  {
       
    padding: 4px;
    margin-right: 10px;
  }
 .card
 {
  margin-bottom: 0px !important;
 } 
</style>

